In [ ]:
# [(]*\d\d\d[)]*[\s\-:]\d\d\d[\s\-:]\d\d\d\d 
# from regex101 in class example match a phone number

In [16]:
# a function to determine whether an email address is valid

def check_valid_email(email_address:str)->bool:
    user_name,domain = email_address.split('@')
    if not user_name or not domain:
        return False
    
    if '@' in email_address and ( ('uga' in email_address) or ('tech' in email_address) or ('gmail' in email_address) or ('com' in email_address)):
        return True
    else:
        return False

In [29]:
import re
# new function to validate email address using regex
def validate_email(email_address:str)->bool:
    # re(pattern, string, [optional flags])
    pattern = r'[\S]*@[\S]*\.[\S]*'
    if re.findall(pattern,email_address):
        return True
    else:
        return False

In [15]:
'@' in 'email@domain.com'
'.uga' in 'andrew@uga.edu'

user_name,domain = 'andrew@uga.edu'.split('@')
print(user_name,domain)

andrew uga.edu

In [18]:
user_in = input("Enter your email address")
print(check_valid_email(user_in.strip()))

False

In [31]:
email= 'andrew@uga.edu'
wrong_email ='@edu'
# re.findall('[\S]*@[\S]*\.[\S]*', email)

print(validate_email(wrong_email))

False

In [ ]:
import re
import pandas as pd

In [32]:
my_string1 = r"The codes we use are 1Ff1 and 1Ff5"
my_string2 = r"We sometimes use only 1Ff0 "

pattern = re.compile(r'1Ff0')

x = re.findall('1Ff0', my_string2)
x2 = re.findall('1Ff0', my_string1)
print(bool( x))
print(x)
print(x2)
print(bool(x2))

True
['1Ff0']
[]
False

In [34]:
pattern.findall(my_string2)
bool([]) # false
bool(['something']) # true

['1Ff0']

In [37]:
pattern.search(my_string2)
pattern.search(my_string2).group()

'1Ff0'

In [38]:
# use regex to substitute
re.sub(r'9',r'nine',r'9,9,9,9,9,9,9,9,9')

'nine,nine,nine,nine,nine,nine,nine,nine,nine'

In [41]:
s = r'Download the data into your own tools and systems to analyze the virusâ€™s spread or decline, investigate COVID-related deaths, study the effects of different vaccines, and more in 20,000-plus locations worldwide.'

In [39]:
def fourLetterWords(s):
    return re.findall(r'\b[a-zA-Z]{4}\b',s)
def fourLetterWords_2(s):
    return re.findall(r'\b\w{4}\b',s)

In [42]:
fourLetterWords(s)

['data', 'into', 'your', 'more', 'plus']

In [43]:
fourLetterWords_2(s)

['data', 'into', 'your', 'more', 'plus']

In [46]:
import pandas as pd

In [47]:
df = pd.read_csv('data/report.csv')
df.head(5)

,Country (region),Ladder,SD of Ladder,Positive affect,Negative affect,Social support,Freedom,Corruption,Generosity,Log of GDP\nper capita,Healthy life\nexpectancy
0,Finland,1,4,41.0,10.0,2.0,5.0,4.0,47.0,22.0,27.0
1,Denmark,2,13,24.0,26.0,4.0,6.0,3.0,22.0,14.0,23.0
2,Norway,3,8,16.0,29.0,3.0,3.0,8.0,11.0,7.0,12.0
3,Iceland,4,9,3.0,3.0,1.0,7.0,45.0,3.0,15.0,13.0
4,Netherlands,5,1,12.0,25.0,15.0,19.0,12.0,7.0,12.0,18.0

In [48]:
type(df.columns)

pandas.core.indexes.base.Index

In [49]:
# convert columns into a list
col_list = df.columns.to_list()

In [50]:
# get rid of all special characters in the columns
new_cols = []
for col in col_list:
    new_cols.append(re.sub(r'\W','',col))

In [51]:
new_cols

['Countryregion',
 'Ladder',
 'SDofLadder',
 'Positiveaffect',
 'Negativeaffect',
 'Socialsupport',
 'Freedom',
 'Corruption',
 'Generosity',
 'LogofGDPpercapita',
 'Healthylifeexpectancy']

In [52]:
df.columns=new_cols
df.head(5)

,Countryregion,Ladder,SDofLadder,Positiveaffect,Negativeaffect,Socialsupport,Freedom,Corruption,Generosity,LogofGDPpercapita,Healthylifeexpectancy
0,Finland,1,4,41.0,10.0,2.0,5.0,4.0,47.0,22.0,27.0
1,Denmark,2,13,24.0,26.0,4.0,6.0,3.0,22.0,14.0,23.0
2,Norway,3,8,16.0,29.0,3.0,3.0,8.0,11.0,7.0,12.0
3,Iceland,4,9,3.0,3.0,1.0,7.0,45.0,3.0,15.0,13.0
4,Netherlands,5,1,12.0,25.0,15.0,19.0,12.0,7.0,12.0,18.0

In [ ]:
# countries that start with an N
df.Countryregion.str.extract(r"(^N\w*)").dropna()

In [ ]:
df['longCountries'] = df.Countryregion.str.extract(r"(\w{5,})")
df.longCountries

In [ ]:
df['countryCode'] = df['Countryregion'].str.extract(r'(\w{3})')
df.countryCode

In [ ]:
df[df.Countryregion.str.contains(r'^A')]

In [ ]:
df = pd.read_csv("data/Restaurant_Reviews.tsv", sep = '\t')
df

In [ ]:
df.info()

In [ ]:
x = df.Review.str.contains(r"menu")
display(type(x))
display(x)

In [ ]:
#contains both menu and price
df[df.Review.str.contains(r"menu")&df.Review.str.contains(r"price")]

In [ ]:
df.Review.str.contains(r"menu")

In [ ]:
#reviews with a question
df[df.Review.str.contains("\?")]

In [ ]:
#talk about kids 
df[df.Review.str.contains(r"\bchild[\w]*|kid[s]?") & (df.Liked == 1)]

In [ ]:
# find reviews that contain money
df[df.Review.str.contains("\$")]

In [ ]:
# extract capitalized words longer than 4 characters
x = df.Review.str.extract(r'\b(?P<shouted>[A-Z]{4,})\b').dropna()
df_new = pd.concat([x,df],axis = 1).dropna()
df_new

In [ ]:
#stuff within quotation marks
# df2 = pd.concat([df.Review.str.extract(r"\"(.*?)\""),df],axis=1).dropna().rename(columns={0:"quoted"})
df2 = pd.concat([df.Review.str.extract(r"\"(.*?)\""),df],axis=1).dropna()

df2.rename(columns={0:"quoted"})

In [ ]:
# match long words greater than 10 in length

df6 = pd.concat([df.Review.str.findall(r"([\w]{10,})").rename("Long"),df],axis=1)
df6[df6.Long.apply(len)>1]

In [ ]:
#extract cost
df2 = pd.concat([df.Review.str.extract(r"(\$\d+\.?\d+)"),df],axis=1).dropna().rename(columns={0:"cost"})
df2

In [ ]:
#extract all words repeated at least 3 times
df1 = pd.concat([df.Review.str.extract(r".*(\b\w+\b)(?:.*?\b\1\b){3,}"),df],axis=1).dropna().rename(columns={0:"repeated_word"})
df1

In [ ]:
# dfx = pd.concat([df.Review.str.extract(r'.*(?P<repeated>\b\w+\b)(?:.*?\b\1\b){2,3}'),df],axis = 1).dropna()
# dfx

In [ ]:
#extract hyphenated words
df4 = pd.concat([df.Review.str.extract(r"(\b[\w]*?-[\w-]+)"),df],axis=1).dropna().rename(columns={0:"Hyphenated"})
#x =df.Review.str.extract(r"(\b\w{2,}-[\w-]+)")
#display(type(x))
#x.dropna(inplace=True)
df4

In [ ]:
df.head(5)

In [ ]:
df.filter(regex = "Liked|Rev")

In [ ]:
sentence = 'Start a sentence and bring it to an end'
string_to_search = '''
abcdefghijklmnopqrstuvwxyz
ABCDEFGHIJKLMNOPQRSTUVWXYZ
1234567890
'''